/* line 4, ../sass/style.scss */
body {
  font-family: "Lato", sans-serif;
}

/* line 7, ../sass/style.scss */
#container, #innercontainer {
  width: 965px;
  margin: 0 auto;
}

/* line 12, ../sass/style.scss */
.clear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 19, ../sass/style.scss */
.clear {
  display: inline-block;
}

/* line 23, ../sass/style.scss */
header {
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
}
/* line 27, ../sass/style.scss */
header h1 {
  max-width: 30%;
  float: left;
  margin: 0;
}
/* line 32, ../sass/style.scss */
header h1 a {
  background-image: url("../img/ringcentral_logo.png");
  width: 242px;
  height: 37px;
  display: block;
  text-indent: -9999px;
}
/* line 40, ../sass/style.scss */
header .sales {
  float: right;
}
/* line 43, ../sass/style.scss */
header .sales p {
  padding: 0.5em 1em;
  background: #d8d8d8;
  text-align: center;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #5e5e5e;
  font-weight: bold;
  font-size: 12px;
  margin: 0;
}

/* line 55, ../sass/style.scss */
.shadow {
  margin-bottom: 1.5em;
}

/* line 58, ../sass/style.scss */
#title {
  width: 100%;
}
/* line 60, ../sass/style.scss */
#title h2 {
  font-size: 41px;
  font-weight: 300;
  width: 65%;
  float: left;
  margin: 0;
}

/* line 69, ../sass/style.scss */
#buttons {
  float: right;
}
/* line 71, ../sass/style.scss */
#buttons a {
  text-decoration: none;
  display: block;
}

/* line 77, ../sass/style.scss */
.signup_button {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #f8981d), color-stop(25%, #e38214), color-stop(70%, #ba5803), color-stop(84%, #ba5803), color-stop(100%, #d66000));
  background-image: -webkit-linear-gradient(bottom, #f8981d 0%, #e38214 25%, #ba5803 70%, #ba5803 84%, #d66000 100%);
  background-image: -moz-linear-gradient(bottom, #f8981d 0%, #e38214 25%, #ba5803 70%, #ba5803 84%, #d66000 100%);
  background-image: -o-linear-gradient(bottom, #f8981d 0%, #e38214 25%, #ba5803 70%, #ba5803 84%, #d66000 100%);
  background-image: linear-gradient(bottom, #f8981d 0%, #e38214 25%, #ba5803 70%, #ba5803 84%, #d66000 100%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #c65900;
  margin-bottom: 5px;
}
/* line 83, ../sass/style.scss */
.signup_button:hover {
  background-color: #D66000;
  background-image: url(../img/hover_sign_up.png);
  background-position: center;
  background-repeat: no-repeat;
}
/* line 90, ../sass/style.scss */
.signup_button p {
  color: #fff;
  font-size: 20px;
  line-height: 15px;
  margin: 0;
  padding: 5px 30px;
  text-align: center;
}
/* line 98, ../sass/style.scss */
.signup_button p span {
  font-size: 11px;
}

/* line 104, ../sass/style.scss */
#demo {
  color: #fff;
  font-size: 20px;
  border: 1px solid #dddddd;
  padding: 5px 30px;
  background-image: -webkit-gradient(linear, to bottom, to top, color-stop(0%, #aeaeae), color-stop(49%, #7b7b7b), color-stop(52%, #656565), color-stop(90%, #505050), color-stop(100%, #696969));
  background-image: -webkit-linear-gradient(to bottom, #aeaeae 0%, #7b7b7b 49%, #656565 52%, #505050 90%, #696969 100%);
  background-image: -moz-linear-gradient(to bottom, #aeaeae 0%, #7b7b7b 49%, #656565 52%, #505050 90%, #696969 100%);
  background-image: -o-linear-gradient(to bottom, #aeaeae 0%, #7b7b7b 49%, #656565 52%, #505050 90%, #696969 100%);
  background-image: linear-gradient(to bottom, #aeaeae 0%, #7b7b7b 49%, #656565 52%, #505050 90%, #696969 100%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: #bbb;
}
/* line 113, ../sass/style.scss */
#demo:hover {
  background-image: -webkit-gradient(linear, to bottom, to top, color-stop(0%, #c8c6c6), color-stop(49%, #737373), color-stop(50%, #737373), color-stop(100%, #838383));
  background-image: -webkit-linear-gradient(to bottom, #c8c6c6 0%, #737373 49%, #737373 50%, #838383 100%);
  background-image: -moz-linear-gradient(to bottom, #c8c6c6 0%, #737373 49%, #737373 50%, #838383 100%);
  background-image: -o-linear-gradient(to bottom, #c8c6c6 0%, #737373 49%, #737373 50%, #838383 100%);
  background-image: linear-gradient(to bottom, #c8c6c6 0%, #737373 49%, #737373 50%, #838383 100%);
}

/* line 118, ../sass/style.scss */
article {
  font-size: 1em;
  color: #999898;
  line-height: 20px;
  font-weight: 300;
}
/* line 124, ../sass/style.scss */
article img {
  float: left;
  margin: 0 1em 1em 0px;
}
/* line 128, ../sass/style.scss */
article h3 {
  font-size: 1em;
  letter-spacing: .5px;
}

/* line 134, ../sass/style.scss */
#testimonial {
  background: #e6e6e6;
  padding: 1em;
  color: #555861;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  margin: 2em;
}
/* line 142, ../sass/style.scss */
#testimonial p {
  font-size: 12px;
  line-height: 15px;
  color: #6d6f76;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.9);
}
/* line 149, ../sass/style.scss */
#testimonial div {
  width: 49%;
}
/* line 153, ../sass/style.scss */
#testimonial h3 {
  font-size: 1.5em;
  font-weight: 300;
  margin: 0 0 0.5em 0;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.9);
}

/* line 160, ../sass/style.scss */
.name {
  font-weight: bold;
  font-style: italic;
}

/* line 164, ../sass/style.scss */
#left {
  float: left;
  text-align: right;
  padding-right: 10px;
  border-right: 1px solid #cccccc;
  text-align: right;
  -webkit-box-shadow: 1px 0px 0px rgba(255, 255, 255, 0.9);
  -moz-box-shadow: 1px 0px 0px rgba(255, 255, 255, 0.9);
  box-shadow: 1px 0px 0px rgba(255, 255, 255, 0.9);
}

/* line 172, ../sass/style.scss */
#right {
  float: right;
}

/* line 177, ../sass/style.scss */
footer {
  background: #41444D;
  border-top: 1px solid #aeb1b6;
  overflow: hidden;
}

/* line 182, ../sass/style.scss */
#first {
  margin-right: 2em;
}

/* line 185, ../sass/style.scss */
#logos {
  background: url("../img/hp_sprite1.png") no-repeat scroll -167px 0 transparent;
  height: 23px;
  margin: 15px 0 0;
  width: 620px;
}

/* line 191, ../sass/style.scss */
#partners_logos {
  background: url("../img/hp_sprite1.png") no-repeat scroll -167px -28px transparent;
  height: 28px;
  margin: 11px 14px 6px 0;
  width: 265px;
}

/* line 198, ../sass/style.scss */
#bottom {
  width: 100%;
  margin-top: 1em;
}
/* line 202, ../sass/style.scss */
#bottom p {
  margin-top: 0;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

/* line 210, ../sass/style.scss */
#asseen {
  float: left;
  width: 65%;
}

/* line 214, ../sass/style.scss */
#partners {
  float: right;
  width: 30%;
  padding-left: 1.5em;
  border-left: 1px solid #dfdfdf;
  -webkit-box-shadow: -2px 0px 0px #2b2d33;
  -moz-box-shadow: -2px 0px 0px #2b2d33;
  box-shadow: -2px 0px 0px #2b2d33;
}

/* line 222, ../sass/style.scss */
#rights {
  margin-top: 0;
  color: #fff;
  font-size: 12px;
}
