@import "compass";
@import "assets";

body{
	font-family: 'Lato', sans-serif;
}
#container,#innercontainer{
	width:965px;
	margin:0 auto;
}

.clear:after{
	content: ".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clear{
	display:inline-block;
}

header{
	width:100%;
	margin-top:2em;
	margin-bottom: 2em;
	h1 {
		max-width: 30%;
		float:left;
		margin:0;

		a{
			background-image:$logo;
			width:242px;
			height:37px;
			display:block;
			text-indent:-9999px;
		}
	}
	.sales{
		float:right;

		p{
			padding:.5em 1em;
			background:#d8d8d8;
			text-align:center;
			@include border-radius(6px);
			border:1px solid #5e5e5e;
			font-weight:bold;
			font-size:12px;
			margin:0;
		}
	}
}
.shadow {
    margin-bottom: 1.5em;
}
#title{
	width: 100%;
	h2{
		font-size: 41px;
		font-weight: 300;
		width: 65%;
		float: left;
		margin: 0
	}
}

#buttons{
	float: right;
	a{
		text-decoration: none;
		display: block;
	}
}

.signup_button{
	@include background-image(linear-gradient(bottom, #F8981D 0%, #E38214 25%, #BA5803 70%, #BA5803 84%, #D66000 100%));
	@include border-radius(5px);
	border: 1px solid #c65900;
	margin-bottom: 5px;

	&:hover{
		background-color:#D66000;
		background-image:url(../img/hover_sign_up.png); 
		background-position: center;
		background-repeat: no-repeat;
	}

	p{
		color: #fff;
		font-size: 20px;
		line-height: 15px;
		margin: 0;
		padding: 5px 30px;
		text-align: center;

		span{
			font-size: 11px;
		}
	}
}

#demo{
	color: #fff;
	font-size: 20px;
	border: 1px solid #ddd;
	padding: 5px 30px;
	@include background-image(linear-gradient(to bottom, #aeaeae 0%,#7b7b7b 49%,#656565 52%,#505050 90%,#696969 100%));
	@include border-radius(5px);
	border: #bbb;

	&:hover{
		@include background-image(linear-gradient(to bottom, #C8C6C6 0%, #737373 49%, #737373 50%, #838383 100%));
	}
}

article{
	font-size: 1em;
	color: #999898;
	line-height: 20px;
	font-weight: 300;
	
	img{
		float: left;
		margin:0 1em 1em 0px;
	}
	h3{
		font-size: 1em;
		letter-spacing: .5px;
	}
}

#testimonial{
	background:#e6e6e6;
	padding: 1em;
	color: #555861;
	@include border-radius(5px);
	border: 1px solid #ddd;
	margin: 2em;

	p{
		font-size: 12px;
		line-height: 15px;
		color: #6d6f76;
		@include single-text-shadow(0px, 1px, 0px, $color:rgba(255, 255, 255, 0.9));
	}

	div{
		width: 49%;
	}

	h3{
		font-size: 1.5em;
		font-weight: 300;
		margin:0 0 .5em 0;
		@include single-text-shadow(0px, 1px, 0px, $color:rgba(255, 255, 255, 0.9));
	}
}
.name{
	font-weight: bold;
	font-style: italic;
}
#left{
	float: left;
	text-align: right;
	padding-right: 10px;
	border-right: 1px solid #ccc;
	text-align: right;
	@include single-box-shadow(rgba(255, 255, 255, 0.9), 1px, 0px, 0px);
}
#right{
	float: right;
}


footer{
	background:#41444D;
	border-top: 1px solid #aeb1b6;
	overflow: hidden;
}
#first{
	margin-right: 2em;
}
#logos{
	background: url("../img/hp_sprite1.png") no-repeat scroll -167px 0 transparent;
    height: 23px;
    margin: 15px 0 0;
    width: 620px;
}
#partners_logos{
	 background: url("../img/hp_sprite1.png") no-repeat scroll -167px -28px transparent;
    height: 28px;
    margin: 11px 14px 6px 0;
    width: 265px;
}

#bottom {
	width: 100%;
	margin-top: 1em;
	
	p{
		margin-top: 0;
		color: #fff;
		font-size: 12px;
		font-weight: bold;
	}
}

#asseen{
	float: left;
	width: 65%;
}
#partners{
	float: right;
	width: 30%;
	padding-left: 1.5em;
	border-left: 1px solid #dfdfdf;
	@include single-box-shadow(rgba(43, 45, 51, 1), -2px, 0px, 0px);
}

#rights{
	margin-top: 0;
	color: #fff;
	font-size: 12px;
}

